name: Run tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [opened, synchronize, reopened]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        java: [11, 17, 21]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Set up JDK
        uses: actions/setup-java@v5.1.0
        with:
          java-version: ${{ matrix.java }}
          distribution: 'adopt'

      - name: Set up cache for ~./m2/repository
        uses: actions/cache@v5.0.1
        with:
          path: ~/.m2/repository
          key: clocky-${{ matrix.os }}-java${{ matrix.java }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            clocky-${{ matrix.os }}-clocky-{{ matrix.java }}
            clocky-${{ matrix.os }}

      - name: Build and test code
        run: mvn verify

  mutationtesting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0

      - name: Set up cache for ~./m2/repository
        uses: actions/cache@v5.0.1
        with:
          path: ~/.m2/repository
          key: clocky-ubuntu-latest-java11-${{ hashFiles('**/pom.xml') }}

      - name: Set up JDK
        uses: actions/setup-java@v5.1.0
        with:
          java-version: 11
          distribution: 'adopt'

      - name: Run Pitest
        run: mvn test-compile org.pitest:pitest-maven:mutationCoverage
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_TOKEN }}

  sonarcloud:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0

      - name: Set up cache for ~./m2/repository
        uses: actions/cache@v5.0.1
        with:
          path: ~/.m2/repository
          key: clocky-ubuntu-latest-java11-${{ hashFiles('**/pom.xml') }}

      - name: Set up JDK
        uses: actions/setup-java@v5.1.0
        with:
          java-version: 17
          distribution: 'adopt'

      - name: SonarCloud Scan
        run: mvn -P sonarcloud -Dsonar.login=$SONAR_TOKEN verify sonar:sonar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}